<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>DTS</title>
		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
		<script src="scripts/script.js"></script>
		<script src="scripts/addbug.js"></script>
	</head>
	<body>
		<header>
			<div id="prlogo">
				<img src="images/logo.png" class="drop_shadow" id="prlogo_img" />
			</div>
			<div>
				<h1 id="site_title">DTS</h1>
				<h2 id="site_author">By Joseph Sepulveda</h2>
			</div>
		</header>
		<nav>
			<div class="nav_item">
				<a class="nav_link" href="/search?{{QUERY}}">SEARCH</a>
			</div>
			<div class="nav_item">
				<a class="nav_link" href="/input?{{QUERY}}">SUBMIT A BUG</a>
			</div>
			<div class="nav_item">
				<a class="nav_link" href="/login?{{QUERY}}">LOG IN</a>
			</div>
		</nav>
		<main>
			<form id="submit_bug">
				<fieldset>
					<legend>Basic Data</legend>
					<label>Project</label>
					<select name="project" id="project_dropdown"></select>
					<br />
					<br />
					<label>Bug Name</label>
					<input name="bug_name" type="text" required />
				</fieldset>
				<fieldset>
					<legend>Bug Catagorizing</legend>
					<label>Bug Type</label>
					<select name="bug_type">
						<option value="function">Function</option>
						<option value="assignment">Assignment</option>
						<option value="checking">Checking</option>
						<option value="timing">Timing</option>
						<option value="build">Build</option>
						<option value="algorithm">Algorithm</option>
						<option value="documentation">Documentation</option>
						<option value="interface">Interface</option>
						<option value="none">None</option>
						<option value="unsure">Unsure</option>
					</select>
					<br />
					<br />
					<label>Bug Severity</label>
					<select name="bug_level">
						<option value="major">Major</option>
						<option value="minor">Minor</option>
						<option value="nth">NTH</option>
					</select>
				</fieldset>
				<fieldset>
					<legend>Enviornment</legend>
					<label>Operating System</label>
					<select name="os">
						<option value="windows">Windows</option>
						<option value="mac">Mac OS</option>
						<option value="linux">Linux</option>
						<option value="ios">iOS</option>
						<option value="android">Android</option>
						<option value="other">Other</option>
					</select>
					<br />
					<br />
					<label>Platform</label>
					<select name="platform">
						<option value="desktop">Desktop</option>
						<option value="mobile">Mobile</option>
						<option value="console">Console</option>
						<option value="other">Other</option>
					</select>
					<br />
					<br />
					<label>Extra Information</label>
					<br />
					<textarea name="env_extra" rows=10 cols=100 style="resize: none;"></textarea>
				</fieldset>
				<fieldset>
					<legend>Bug Information</legend>
					<label>Description</label>
					<br />
					<textarea name="description" rows=10 cols=100 style="resize: none;"></textarea>
					<br />
					<br />
					<label>Steps To Reproduce</label>
					<br />
					<textarea name="steps" rows=10 cols=100 style="resize: none;"></textarea>
					<br />
					<br />
				</fieldset>
				<br />
				<br />
				<input type="submit"/>
			</form>
		</main>
		<footer>
			<div id="bug_count_tracking">
				<div id="bug_count_major"><p>MAJOR</p></div>
				<div id="bug_count_minor"><p>MINOR</p></div>
				<div id="bug_count_nth"><p>NTH</p></div>
			</div>
		</footer>
	</body>
</html>