<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>DTS</title>
		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
		<script src="scripts/script.js"></script>
	</head>
	<body>
		<header>
			<div id="prlogo">
				<img src="images/logo.png" class="drop_shadow" id="prlogo_img" />
			</div>
			<div>
				<h1 id="site_title">DTS</h1>
				<h2 id="site_author">By Joseph Sepulveda</h2>
			</div>
		</header>
		<nav>
			<div class="nav_item">
				<a class="nav_link" href="/search?{{QUERY}}">SEARCH</a>
			</div>
			<div class="nav_item">
				<a class="nav_link" href="/input?{{QUERY}}">SUBMIT A BUG</a>
			</div>
			<div class="nav_item">
				<a class="nav_link" href="/login?{{QUERY}}">LOG IN</a>
			</div>
		</nav>
		<main>
			<h3>Home Page</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper bibendum diam. Duis tempor ultrices ligula, at pretium sem dictum sit amet. Nullam commodo scelerisque orci sit amet lacinia. Suspendisse aliquam scelerisque leo, ac facilisis purus posuere vitae. In vitae dignissim odio, quis dignissim ex. Aenean dignissim elementum tellus, sit amet sagittis massa volutpat eget. Aenean ut sagittis turpis, in consequat turpis. Vestibulum pulvinar elementum luctus. Donec interdum commodo tempus. Nam malesuada ut justo ut accumsan. Morbi at faucibus felis. Suspendisse quis nisi ut ex volutpat tincidunt quis ut eros. Cras tincidunt, erat ut convallis lacinia, leo urna ornare tellus, in semper eros risus sed arcu. Integer et tellus porttitor dui scelerisque pulvinar nec ut urna.</p>
			<p>Curabitur volutpat vulputate dui id ornare. Ut a tortor tincidunt, tincidunt dui vel, pretium lorem. Cras ac lectus egestas, consequat magna sed, accumsan turpis. Morbi feugiat, arcu tincidunt luctus hendrerit, risus nisl congue turpis, nec malesuada nisi massa quis sem. Praesent sed enim sed nunc varius blandit quis at nisi. Quisque varius sodales mauris sed interdum. Proin vulputate viverra turpis, ac efficitur magna facilisis nec. Duis pulvinar lorem id turpis varius, id eleifend elit tristique. Nulla dignissim augue vitae ligula mattis, ut congue ligula vehicula. In hac habitasse platea dictumst. Integer euismod mattis felis, quis ornare leo blandit pellentesque.</p>
			<p>Aliquam et purus rutrum, vehicula lorem hendrerit, dictum tortor. Aliquam velit dui, tristique in magna a, dictum convallis urna. Aliquam nec nibh tempor, vestibulum tortor nec, facilisis urna. Donec diam orci, sodales quis ultrices luctus, vulputate quis nibh. Sed aliquam faucibus congue. Fusce quis blandit purus. Nunc hendrerit justo at turpis volutpat, eu tincidunt justo molestie.</p>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vitae sem ultricies, tristique eros non, malesuada leo. In faucibus leo eu nunc vestibulum, vehicula convallis enim consequat. Nam dapibus justo vel est sollicitudin blandit. Praesent maximus maximus sem vel gravida. Suspendisse vestibulum eu urna ac fermentum. Pellentesque eu ullamcorper enim, ac elementum nunc. Aliquam nibh arcu, convallis id tincidunt at, lacinia eu tortor. Sed efficitur, erat sit amet laoreet faucibus, lacus diam varius quam, vitae scelerisque dolor ipsum ac nisl. Duis mollis commodo porttitor. Praesent hendrerit bibendum fringilla. Aenean pharetra ex in viverra suscipit. Donec vitae lorem sit amet sem congue pellentesque sit amet ut eros. Curabitur vitae enim nunc. Praesent tempor, mi vel rhoncus dignissim, ante leo euismod lectus, vitae feugiat urna libero et nisi.</p>
			<p>Morbi diam arcu, ullamcorper sed libero nec, malesuada tincidunt eros. Nulla ullamcorper placerat sapien ut rhoncus. Nullam commodo pharetra arcu eget eleifend. Donec gravida pharetra purus ut suscipit. Integer gravida dictum dignissim. Cras ut eleifend eros, ac mattis sapien. Curabitur ornare vitae nulla at sollicitudin. Donec vitae metus eros. Nulla rhoncus purus non libero viverra, vel mattis turpis ullamcorper. Sed dictum magna in rutrum varius.</p>
		</main>
		<footer>
			<div id="bug_count_tracking">
				<div id="bug_count_major"><p>MAJOR</p></div>
				<div id="bug_count_minor"><p>MINOR</p></div>
				<div id="bug_count_nth"><p>NTH</p></div>
			</div>
		</footer>
	</body>
</html>